.footer{
    background-color: rgb(10, 10, 10);
    margin-top: 24px;
    height: 150px;
    display: flex;
    justify-content: center;
}

.footer p{
    height: 10px;
    margin: auto 10px;
    padding: 0;
    color: rgba(151, 151, 151, 0.7);
    text-align: center;
}

.footer img{
    height: 64px;
    width: 80px;
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: 3s;

  }

.footer:hover img{
    transform: translateX(700px);
}